/*///////////////////////////////////////*/
/*ALL*/
/*///////////////////////////////////////*/

*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
}

:root {
    --main-color: #404eed;
    --sec-color: #23272a;
    --sec-bg-color: #f6f6f6;
    --txt-link-color: #00b0f4;
}

body {
    background: white;
    width: 100%;
    overflow-x: hidden;
}

main {
    background: white;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    
    text-align: center;
    color: var(--sec-bg-color);
}

header {
    padding: 1.5em 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,#b473f5,#e292aa);
}

header > img {
    max-width: 130px;
}

/*///////////////////////////////////////*/
/*Hamburger Icon*/
/*///////////////////////////////////////*/

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    padding: 0;
    margin: 0;

    background: none;
    outline: none;
    border: none;
    appearance: none;
    z-index: 99;
}

/*De container, middel streep, after & before streep*/
.hamburger .bar, .hamburger::after, .hamburger::before {
    width: 75%;
    height: 5px;
    background-color: #fff;
    transition: .4s ease-in-out;
    margin: 4px 0;
    content:"";
    display: block;
}

/*Eerste streep*/
.hamburger.active::before {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: var(--sec-color);
    height: 2px;
    width: 75%;
}

/*Laatste streep*/
.hamburger.active::after {
    transform: rotate(45deg) translate(-4px, -5px);
    background-color: var(--sec-color);
    height: 2px;
    width: 75%;
}

/*Na het openen van de hamburger menu, verdwijnt de middelste streep*/
.hamburger.active .bar {
    opacity: 0;
}

/*Desktop menu*/
.desktop {
    display: none;
}





/*///////////////////////////////////////*/
/*Hamburger Menulist*/
/*///////////////////////////////////////*/

/*Menulijst*/
.mobile {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 75%;
    min-height: 100vh;
    z-index: 98;
    background: var(--sec-bg-color);
    padding: 1.5em;
    padding-top: 100px;
    transition: .2s;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 8px 15px rgba(0,0,0,.3);
}

.mobile.open {
    left: 25%;
}

/*Styling van de items in de menulijst*/
.mobile > a {
    display: block;
    width: fit-content;
    text-align: left;
    margin-bottom: 16px;
    padding: 12px 16px;
    color: var(--sec-color);
}

/*Tijdens het openen van de menu, kan je niet scrollen*/
body.scroll {
    overflow: hidden;
}

/*Tijdens het openen van de menu, is er een zwarte overlay op de achtergrond*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: .2s;
}

.overlay.on {
    opacity: 1;
    z-index: 97;
}



/*///////////////////////////////////////*/
/*Button Hero Page*/
/*///////////////////////////////////////*/
section > .container > a > button {
    color: var(--sec-bg-color);
    background: var(--sec-color);
    font-size: 20px;
    border-radius: 28px;
    border: none;
    transition: .2s ease-in-out;
    display: flex;
    
    padding: 16px 32px;
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
}

section > .container > a > button:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    background: #36393f;
    cursor: pointer;
}

section > .container{
    margin-top: 40px;
    gap: 1em;
}

/* Special element inside the button*/
.pill {
    background: var(--main-color);
    border-radius: 24px;
    padding: 0 8px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 24px;
}





/*///////////////////////////////////////*/
/*Sections*/
/*///////////////////////////////////////*/

/*Section Overall*/
section {
    background: white;
    padding: 32px;
    border-radius: 8px;
    width: 100%;
}

section > img {
    margin-top: 1em;
    height: 116px;
    width: 177px;
}

/*Hero Image*/
.herocontainer > section:first-of-type img:first-of-type {
    position:absolute;
    width: 250px;
    height: auto;
    left: 50%;
    display: block;
    transform:translateX(12px);
    margin-top: 0;
}

.herocontainer > section:first-of-type img:nth-of-type(2) {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 152px;
}

.herocontainer > section:first-of-type p {
    margin-top: 40px;
}

/*Section 1 Frame*/
.herocontainer > section:first-of-type {
    background: linear-gradient(90deg,#b473f5,#e292aa);
    padding: 112px 24px;
    margin: 0;
    border-radius: 0;
    overflow-x: hidden;
    position: relative;
}

.herocontainer > section:first-of-type > video {
    display: none;
}

/*Section 2 Titel*/

main > section:first-of-type {
    padding: 56px 0;
}

main > section:first-of-type p, h1 {
    color: var(--sec-color);
}

main > section:first-of-type h1 {
    font-size: 1.5em;
    line-height: 95%;
    margin-bottom: 24px;
    padding: 0 1.5em;
}

/*GRID CONTAINER VOOR SECTIONS*/
.gridcontainer {
    padding: 0 1.5em;
}

.gridcontainer > section {
    margin-bottom: 1em;
}

/*GRID CONTAINER Perk 1*/
.gridcontainer > section:nth-of-type(1) {
    background: linear-gradient(142.53deg,#00a295,#26e8f4 98.75%),#3dcda7;
}

/*GRID CONTAINER Perk 2*/
.gridcontainer > section:nth-of-type(2) {
    background: linear-gradient(321.82deg,#21f2ff,#4181ff 59.22%,#4475ff 98.02%),#7196ff;
}

/*GRID CONTAINER Perk 3*/
.gridcontainer > section:nth-of-type(3) {
    background: linear-gradient(138.46deg,#3e70ff 1.48%,#9a98ff 98.75%),#ff73fa;
}

/*GRID CONTAINER Perk 4*/
.gridcontainer > section:nth-of-type(4) {
    background: linear-gradient(141.85deg,#7e7bff,#ff73fa);
}

/*GRID CONTAINER Perk 5*/
.gridcontainer > section:nth-of-type(5) {
    background: linear-gradient(141.48deg,#f837ee 1.35%,#ffcd4b);
}

/*GRID CONTAINER Perk 6*/
.gridcontainer > section:nth-of-type(6) {
    background: linear-gradient(321.73deg,#ffcd4b -1.09%,#ee6315 100.65%);
}

/*Doit */
main > section:nth-of-type(2) {
    color: var(--sec-color);
}

main > section:nth-of-type(2) p {
    font-weight: bold;
    font-size: 1.2em;
}




/*///////////////////////////////////////*/
/*Font*/
/*///////////////////////////////////////*/
p {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.625em;
    font-weight: 100;
  }

h1 {
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

h2 { 
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/*///////////////////////////////////////*/
/*Responsive*/
/*///////////////////////////////////////*/

@media screen and (min-width: 768px) {

    /*NAV*/
    .hamburger {
        display:none;
    }

    .bar {
        display: none;
    }

    .desktop {
        z-index: 1;
        display: block;
        margin:0 auto;
    }

    .desktop > a {
        margin: 0 1em;
        color: var(--sec-bg-color);
        font-weight: bold;
    }

    .desktop > a:hover {
        text-decoration: underline;
    }

    /*Header*/
    header {
        z-index: 1;
        background: transparent;
        position: absolute;
        display: flex;

        padding-left: 19%;
        padding-right: 19%;
        min-width: 100vw;
    }

    /*HERO CONTAINER*/
    .herocontainer > section:first-of-type {
        padding-left: 19%;
        padding-right: 19%;
        padding-bottom: 170px;

        background: none;
        overflow: hidden;
        z-index: 0;
    }

    .herocontainer > section:first-of-type > video {
        position: absolute;
        z-index: -1;
        left: -328px;
        top: -206px;
        right: 0;
        display: block;
    }

    .herocontainer > section > .container > a > button:first-of-type {
        min-width: 275px;
        max-width: 275px;
    }

    .herocontainer > section > .container > a > button:nth-of-type(2) {
        min-width: 212px;
        max-width: 212px;
        margin-left: 40px;
    }

    .container {
        display: flex;
    }

    .herocontainer > section {
        text-align: left;
    }

    .herocontainer > section:first-of-type p {
        max-width: 580px;
        font-size: 1.2em;
    }

    .herocontainer > section:first-of-type img:nth-of-type(1){
        display: none;
    }

    .herocontainer > section:first-of-type img:nth-of-type(2){
        margin-left: 0;
        margin-top: 90px;
    }

    /*FIRST OF TYPE SECTION*/
    main > section:first-of-type {
        z-index: 1;
    }

    main > section:first-of-type h1 {
        font-size: 3em;
        text-align: center;
        line-height: 1em;
        margin-top: 60px;
        margin-left: 25%;
        margin-right: 25%;
    }

    main > section:first-of-type p {
        color: var(--sec-color);
        width: 100%;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 70px;
    }

    /*GRID CONTAINER*/
    .gridcontainer {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        column-gap: 1.3em;
        row-gap: 1.3em;
        
        width: 48%;
        margin: 0 auto;
        z-index: 1;
    }

    .gridcontainer > section {
        text-align: center;
        padding: 40px 25px;
    }

    .gridcontainer > section p:first-of-type{
        font-size: 1.2em;
    }

    /*Section 2*/
    main > section:nth-of-type(2) p {
        font-size: 2em;
    }

    main > section:nth-of-type(2) {
        margin: 5em 0;
        z-index:1;
    }

    section:nth-of-type(2) > .container > a >button {
        min-width: 275px;
        max-width: 400px;
    }

    section:nth-of-type(2) > .container > a > button:hover {
        box-shadow: 0 8px 15px rgba(0,0,0,.2);
        background: #36393f;
        cursor: pointer;
    }

    section:nth-of-type(2) > .container {
        justify-content: center;
        gap: 1em;
    }
}

/*Voor Hero Video, als scherm groter is dan 1920x1080*/
@media screen and (min-width: 2000px) {
    
    .herocontainer > section:first-of-type > video {
        left: 0;
    }
}

